/* LIONS EAT FIRST THEME*/

/* OVERALL TYPOGRAPHY*/

body {
  font-family: 'Fira Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Playfair Display',sans-serif;
  font-weight: 600;
  letter-spacing: 0.5px;
}

h1 {
  color:$sepia !important;
}

/* GENERAL USE CLASSES*/

.row500 {
    min-height: 500px;
    align-items: center;
    max-width: 1140px;
    margin: auto;
    /* padding: 75px 0; */
    /* max-height: 550px; */
    max-height: 500px;
}

.rowCenter {
  align-items: center;
  max-width: 1140px;
  margin: auto;
}

.rowMax1140 {
  max-width: 1140px;
  margin: auto;
}

/* HEADER */

.lef-nav {
  height: 135px;

  .header-logo {
      display: block;
      max-width: 400px;
      max-height: 125px;
      width: auto;
      height: auto;
      image-rendering: optimizeQuality;
  }

  #navbarNavDropdown {
      justify-content: flex-end;

      a.nav-link {
          font-family: 'Playfair Display';
          font-weight: 600;
          /* font-weight: 500; */
          color: #333;
          font-size: 21px;
          padding: 10px 14px !important;
          // color:$sepia;
      }

      a.nav-link:hover {
          color: #777;
          // color:$dark-goldenrod;
          transition: 300ms ease;
      }
  }
}

/* FOOTER */

div#wrapper-footer {
    background-color: #f5a533;
    border-top: 3px solid #ca6a36;
    background-image: url(/wp-content/uploads/2017/06/lions-eat-first-logo-mono-ca6a36.png);
    background-repeat: no-repeat;
    background-position: 112% 50%;

    .site-info p {
        margin-bottom: 0;
        margin-top: 1.5em;
        font-family: 'playfair display';
        font-weight: 700;
        color: $dark-goldenrod;
        font-size: 18px;
    }
}

.contact-col {

  padding: 15px 15px 25px;

  p, a {
    font-size: 20px;
    display: block;
    margin-bottom: 1rem;

    color: $sepia;

    i {
    margin-right: 10px;
    font-size: 1.2em;
    position: relative;
    top: 1px;
    }
  }
  h3 {
    font-size: 24px;
    margin-bottom: 1em;
    color: $dark-goldenrod;
}

}


/* HOME PAGE */

.home-slider {

  h1 {
    font-size: 3rem;
    margin-bottom: 0.5em;
    line-height: 1.35em;
    font-size: 42px;
    font-size: 40px;
    // max-width: 475px;
}

  .img {
    text-align: center;
    img {
      // height: 450px;
      // width: auto;
      // transform: rotateZ(5deg);
    }
  }

  p {
    font-size: 20px;
  }

  a.btn {
   background: #ddd;
   font-size: 24px;
   margin-top: 12px;
   padding: 16px 38px;
   font-weight: 600;
   background-color: #ffb751;
   background-color: #ffb21a;
   color: $sepia;
   box-shadow: 0px 4px 16px rgba(47, 29, 0, 0.58);
  }
  a.btn:hover {
    background-color: rgb(253, 168, 0);
    transition: 300ms ease;
  }

}

.home-slider, .product-slider {
  ul li {
    font-size: 22px;
    line-height: 1.6em;
  }
}

.page-id-5 .home-slider {
    margin-bottom: 30px;
}
.page-id-15 .home-slider, .page-id-16 .home-slider {
    margin-top: 25px;
    margin-bottom: 25px;
}

p.summer-promo {
  font-weight: 700;
  background: #449d44;
  background: #4CAF50;
  color: #fff;
  position: absolute;
  z-index: 10;
  right: 0;
  padding: 8px 16px 6px;
  border-radius: 5px;
  font-size: 22px !important;

    strike {
      font-size: 25px;
      /* line-height: 20px; */
      margin-right: 8px;
      position: relative;
      font-weight: 200;
      font-style: initial;
    }
}

.modal .promo ul li {
    font-size: 20px;
    margin-bottom: 8px;
}

.container-fluid.testimonials {
  padding: 65px 0;
  text-align: center;

  background-color:#eee;
  background: url(/wp-content/uploads/2017/06/geo-white-sharp-bg.jpg);
  background-size: cover;
  background-position: center center;

  border-top: 2px solid #ddd;

    .row {
      max-width: 1140px;
      margin: auto;
    }

    h2 {
      margin-bottom: 1.5em;
      font-size: 2.5em;
    }

    .testimonial {
      .testimonialContent {
        background: #fff;
        box-shadow: 0 2px 12px rgba(51,51,51,.32);
        padding: 25px 15px;
// inside
        p {
          text-align: left;
          font-size: 20px;
        }

        .review {
            margin-bottom: 15px;
        }

        .info {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        .name {
          font-family: 'Playfair Display',sans-serif;
          font-weight: 600;
          font-size: 24px;
          margin-bottom: 0px;
        }
        .city {
            font-size: 19px !important;
            margin: 0;
            color: #543300;
        }

        .portrait {
          img {

              // width: 100px;
              border-radius: 50%;
              // height: auto !important;
          }
        }

      }
    }

    a.btn {
    font-size: 24px;
    background: #fff;
    margin-top: 2em;
    padding: 18px 36px;
    box-shadow: 0 4px 16px rgba(0,0,0,.42);
    background-color: #ffb21a;
    color: #543300;
    }

}

.testimonial {
    margin-bottom: 1rem;
}


.home-about {
  background: url(/wp-content/uploads/2017/06/mlb-placeholder.png);
  background: url(/wp-content/uploads/2017/08/lef-basketball.jpg);
  background-size: cover;
  background-position: 60%;
  color: #221728;

  h2 {
    font-size: 3.25rem;
    font-size: 2.75em;
    font-size: 2.5em;
    line-height: 1.3em;
    margin-bottom: 1em;
    color: #fff;
    text-shadow: 0 4px 16px #000;
  }

  a {
    background: #fff;
    margin-right: 1em;
    font-size: 24px;
    padding: 10px 24px;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.42);
    font-weight: 500;
  }

  a.getStarted {
    color: #543300;
    background: #ffb21a;
  }

  a.aboutUs {
    color: #543300;
  }



}

/* PRODUCT PAGE */

.product-slider {
  h1 {
    font-size: 3rem;
    margin-bottom: 3rem;
    line-height: 1.35em;
    font-size: 42px;
    font-size: 40px;
    margin-bottom: 0.5em;
}

  .img {
    text-align: center;
    img {
      // height: 450px;
      // width: auto;
      transform: rotateZ(0deg);
    }
  }

  p {
    font-size: 20px;
  }

  ul {
    font-size: 24px;
  }

  a.btn {
    background: #ddd;
    font-size: 24px;
    margin-top: 12px;
    padding: 16px 38px;
    font-weight: 600;
    background-color: #ffb751;
    background-color: #ffb21a;
    color: #333;
    color: $sepia;
    box-shadow: 0px 4px 16px rgba(47, 29, 0, 0.58);
    margin-bottom: 25px;
  }

  a.btn:hover {
    background-color: rgb(253, 168, 0);
    transition: 300ms ease;
  }
}

// ABOUT PAGES

.about-intro-pgh {
    margin-top: 60px;
    margin-bottom: 60px;
    font-size: 20px;

    h1 {
    margin-bottom: 1em;
    margin-bottom: 0.8em;
    color:$sepia;
    }
}

// WHO WE ARE

.about-bar {
  background: rgba(221,221,221,.5);
  padding-top: 60px;
  padding-bottom: 60px;
  background: url(/wp-content/uploads/2017/06/geo-white-sharp-bg.jpg);
  background-size: cover;
  background-position: center;

  border-top: 2px solid #ddd;
  border-bottom: 2px solid #ddd;

    .text-bar {
      p {
        font-size:22px;
        font-size: 30px;
        line-height: 1.3em;
      }
      a {
        font-size: 22px;
        background: #fff;
        box-shadow: 0 4px 16px rgba(0,0,0,.5);
        padding: 14px 24px;
        font-weight: 500;
        margin-top: 18px;
        background: #ffb21a;
        color: #543300;
        font-weight: 500;
      }
    }

}

.imgStat {
  text-align: center;
}

// whoweare img

img.nbaSummerStats {
    padding: 12px 6px;
    background-color: #fff;
    border-radius: 15px;
    transform: rotateZ(-2deg);
    max-width: 450px;
    box-shadow: -1px 6px 16px rgba(0, 0, 0, 0.44);
    margin:auto;
    max-width: 85%;
    margin-bottom: 25px;
    margin-top: 25px;
}

// moneyback img

img.raptorsGame {
    border-radius: 15px;
    padding: 12px 0 0;
    background-color: #eef0f3;
    border-radius: 15px;
    max-width: 450px;
    box-shadow: -1px 6px 16px rgba(0,0,0,.44);
    transform: rotateZ(-2deg);
    max-width: 85%;
    margin-bottom: 25px;
    margin-top: 25px;
}

// modal

#modal-edit {
    position: relative;
    top: 25px;

    .form {
      .col-md-12 {
        text-align: center;
        margin-top: 5px;
        margin-bottom: 18px;
      }
    }

    .modal-content {
    border-radius: 15px;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.76);
    }

    .modal-header {
        background: #fda800;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;

        h5 {
        font-size: 30px;
        color:$sepia;
        }
    }

    .ssl {
      i {
      margin-right: 10px;
      }
      p {
        color: #449d44;
        font-weight: 600;
        margin-bottom: 0;
        text-align: center;
        font-weight: 400;
      }
    }

    .col-md-12 .btn {
    font-family: 'Fira Sans', sans-serif;
    background: #FB8C00;
    border-color: #F57C00;
    }

}

#modal-edit p.summer-promo {
    color: #449d44;
    color: #fff;
    font-weight: 600;
    margin-bottom: 0;
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    position: initial;
    max-width: 350px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
}

.lef-signup-form label {
    color: #333;
    font-size: 18px;
    font-family: 'Fira Sans', sans-serif;
}

input.wpcf7-form-control.wpcf7-submit {
    font-family: 'Fira Sans',sans-serif;
    background: #fb8c00;
    border-color: #f57c00;
    color: #fff;
    font-size: 20px;
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;

    display: -webkit-box;
}

input.wpcf7-form-control.wpcf7-submit:hover {
      color: #fff;
      background-color: #EF6C00;
      border-color: #E65100;
}

.lef-signup-form p:last-of-type {
    margin-bottom: 0px;
}

.col-md-6.testimonial {
    margin-bottom: 25px;
}

// Mobile Reponsive

// button.navbar-toggler.collapsed {
//     display: none;
// }
//
// img.header-logo {
//     max-width: 100% !important;
// }

@media (min-width:768px) {

  div#shiftnav-toggle-main {
      display: none;
  }

}

// etc

.container-fluid.testimonials a.btn {
    max-width: 100% !important;
    display: inline-flex !important;
    white-space: normal !important;
}

// mobile menu

img.header-logo.shiftnav-logo {
    height: 100px !important;
}

div#shiftnav-toggle-main-button {
    min-width: 7vh !important;
}

.shiftnav-main-toggle-content.shiftnav-toggle-main-block {
    padding-top: 6px!important;
    padding-bottom: 6px!important;
    max-height: 100%!important;
    padding-left: 0px !important;
    padding-right: 0px !important;
    text-align: center!important;
    min-width: 72vw !important;
}

#shiftnav-toggle-main {
    height: 112px;
    // align-items: center;
    /* justify-content: center; */
    // display: flex;
    // flex-direction: row-reverse;
    background: #1f1200 !important;
}

.shiftnav-inner {
    background: #1f1200 !important;
}

.shiftnav-target {
    background: #1f1200 !important;
    border-bottom-color: #0b0600 !important;
    border-top: none !important;
}

.shiftnav.shiftnav-skin-standard-dark ul.shiftnav-menu li.menu-item.current-menu-item > .shiftnav-target {
    background: #543300 !important;
}

div#shiftnav-toggle-main-button {
    height: 100px;
    display: flex;
    align-items: center;
}


// shiftnav sidebar

h3.shiftnav-menu-title.shiftnav-site-title {
    display: none;
}

.menu-item.menu-item-type-post_type {
    width: 100%;
    font-size: 22px;
}

.menu-item.menu-item-type-post_type {
    width: 100%;

    a.shiftnav-target {
    font-size: 22px;
    font-family: 'Playfair Display';
    text-transform: capitalize !important;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-shadow: none !important;
    }
}

.shiftnav.shiftnav-skin-standard-dark ul.shiftnav-menu li.menu-item.current-menu-item > .shiftnav-target {
    background: #ffb21a;
    color: #333;
    text-shadow: none !important;
}

@media (max-width:768px) {
  #wrapper-navbar {
    display: none;
  }
  #page {
    padding-top: 112px;
  }

  #wrapper-footer {
    background-color: #f5a533 !important;
    border-top: 3px solid #ca6a36 !important;
    /* background-image: url(/wp-content/uploads/2017/06/lions-eat-first-logo-mono-ca6a36.png); */
    background-repeat: no-repeat !important;
    background-position: 112% 50% !important;
    background-image: none !important;

    .info-links a {
      display: -webkit-box;
    }
  }

  //

  .row500 {
    max-height: none !important;
  }

  //

  .container-fluid.home-slider {
    height: auto !important;
  }



//
}

// about-intro-pgh

.about-intro-pgh {
  h2 {
      color: $dark-goldenrod;
      margin-top: 2rem;
      margin-bottom: 1rem;
  }
}

// footer more

.info-links {
    margin-top: 1rem;

    a {
        color: $dark-goldenrod;

        font-size: 18px;
        text-decoration: underline;
        margin-right: 1rem;
    }
}

// remove prior css

p.summer-promo {

    display: none !important;
}

// Checkout page

.page-template-checkout {

  #page {
    padding-top: 0px !important;
  }

  #shiftnav-toggle-main {
    display: none !important;
  }

  #wrapper-navbar {
      display: none;
  }

  #checkoutHeader {
    .imgHeader img {
      margin-right: auto;
      margin-left: auto;
      display: -webkit-box;
      width: 300px;
      max-width: 100%;
    }

  }

  #checkoutForm {
    margin-top: 1em;
    margin-bottom: 3em;

    .rowMax1140 {
      max-width: 800px;
      background: rgba(245, 165, 51, 0.1);
      padding: 1rem 1rem;
      box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.3);
      border-radius: 4px;

      h2 {
        color: #543300;
        line-height: 3rem;
        font-size: 2rem;
      }
      ul li {
        font-size: 20px;
      }
    }

    .gfield_label {
      font-family: 'Playfair Display';
      font-size: 24px !important;
      margin-top: 12px;
    }

    input#gform_next_button_1_3 {
    background: #673AB7 !important;
    border: none;
    font-size: 24px;
    font-family: 'Playfair Display';
    padding: 8px 20px 8px;
    line-height: 1em;
    border-radius: 6px;
    color: #ffffff;
    font-family: "Fira Sans";
}

      input#gform_previous_button_1 {
    font-family: "Fira Sans";
    background: none;
    border: none;
    font-size: 16px;
    margin-right: 1em;
      }

      input#gform_submit_button_1 {
      background: #673AB7 !important;
      border: none;
      font-size: 24px;
      font-family: 'Playfair Display';
      padding: 8px 20px 8px;
      line-height: 1em;
      border-radius: 6px;
      color: #ffffff;
      font-family: "Fira Sans";
      }

  }


}

.gfield_total {
    display: none;
}

span.paybyTransfer {
    font-family: 'Playfair Display';
    font-size: 24px!important;
    display: -webkit-box;
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-weight: 600;
}

// final set of media walkthrough

@media (max-width:768px) {
// start media

.home-slider, .product-slider {

  .row.row500 {
    flex-direction: column-reverse;
    padding-top: 10px;
  }

  h1 {
    font-size: 28px;
  }

  a.btn {
    margin-left: auto;
    margin-right: auto;
    display: block;
    max-width: 225px;
  }

}

.testimonials a.btn {
    font-size: 20px !important;
}

.home-about {
    background-position: 70%;

    a.aboutUs {
        margin-bottom: 0.5em;
    }
}

img.nbaSummerStats {
    transform: rotateZ(0) !important;
    max-width: 100%;
    margin-top: 0;
    margin-bottom: 30px;
}

img.raptorsGame {
    transform: rotateZ(0) !important;
    max-width: 100%;
    margin-top: 0;
    margin-bottom: 30px;
}

.about-bar .text-bar a {
    white-space: inherit;
    font-size: 20px;
}

// end media
}

// fall promo
.fall-promo {
    font-size: 28px;
    margin-bottom: 1rem;
}

span.old-price {
    background: #FFCDD2;
    text-decoration: line-through;
    color: #C62828;
    padding: 4px 12px;
    border: 2px solid #C62828;

}

span.new-price {
    background: #c8e6c9;
    color: #2e7d32;
    padding: 4px 12px;
    border: 2px solid #2e7d32;
}

input#gform_next_button_2_3 {
    background: #673AB7 !important;
    border: none;
    font-size: 24px;
    font-family: 'Playfair Display';
    padding: 8px 20px 8px;
    line-height: 1em;
    border-radius: 6px;
    color: #ffffff;
    font-family: "Fira Sans";
}

input#gform_submit_button_2 {
    background: #673AB7 !important;
    border: none;
    font-size: 24px;
    font-family: 'Playfair Display';
    padding: 8px 20px 8px;
    line-height: 1em;
    border-radius: 6px;
    color: #ffffff;
    font-family: "Fira Sans";
}

input#gform_previous_button_2 {
    font-family: "Fira Sans";
    background: none;
    border: none;
    font-size: 16px;
    margin-right: 1em;
}
span.no-card {
    display: -webkit-box;
    margin-top: 1rem;
    font-size: 19px;
}
